@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity is not null && !User.Identity.IsAuthenticated)
{
    <div class="text-center bg-color-primary">
        <div>
            <h1 class="display-4">Welcome to Twitter News Chatbot Management System! 🚀 </h1>
        </div>
        <div class="mt-5">
            <h3>One Place To Manage all your twitter News Pages!</h3>
        </div>
        <div class="align-content-center">
            <div class="tenor-gif-embed" style="align-content:center" data-postid="18871668" data-share-method="host" data-aspect-ratio="0.5" data-width="5%">
                <img src="/images/twitterHomeImage.gif" />
            </div>
            <h4>Let's start the journey </h4>
        </div>
        <div>
            <p class="mt-3"><a class="btn btn-primary text-white " asp-area="Identity" asp-page="/Account/Register">Register</a> OR <a class="btn btn-primary text-white " asp-area="Identity" asp-page="/Account/Login">Login</a></p>
        </div>

    </div>
}
else
{
    <h1 class="display-4">Hi</h1>

}
